.App {
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1rem;
	padding: 1rem;
}

.map__container {
	grid-column-start: 1;
	grid-column-end: 4;
}

.overview__container {
	grid-column-start: 1;
	grid-column-end: 4;
}

.chart__container {
	grid-column-start: 1;
	grid-column-end: 4;
}

@media (min-width: 992px) {
	.grid-container {
		grid-template-rows: 1fr 1fr;
	}
	.map__container {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.overview__container {
		grid-column-start: 3;
		grid-column-end: 4;
	}
	.chart__container {
		grid-column-start: 1;
		grid-column-end: 2;
	}
}
